<div class="signup row d-flex justify-content-center align-items-center">
  <form
    [formGroup]="loginFormGroup"
    class="form col-8 border p-4"
    (ngSubmit)="signin()"
    >
    <h1 class="text-center">Fazer login</h1>

    <fieldset class="form-group">
      <input
        type="text"
        name="username"
        placeholder="Nome de usuário"
        aria-label="Nome de usuário"
        class="form-control mt-4"
        formControlName="username"
      />

      <small
        class="text-danger"
        *ngIf="loginFormGroup.get('username')?.errors?.['required'] && loginFormGroup.get('username')?.touched"
      >
      Campo obrigatório
      </small>
    </fieldset>

    <fieldset class="form-group">
      <input
        type="password"
        name="password"
        aria-label="Senha"
        placeholder="Senha"
        class="form-control mt-1"
        formControlName="password"
      />

      <small
        class="text-danger"
        *ngIf="loginFormGroup.get('password')?.errors?.['required'] && loginFormGroup.get('password')?.touched"
      >
        Campo obrigatório
      </small>

    </fieldset>

    <div
      class="alert alert-danger mt-2"
      *ngIf="loginError !== ''"
      >
      Credenciais incorretas
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-block mt-3"
      [disabled]="loginFormGroup.get('password')?.errors || loginFormGroup.get('username')?.errors"
      >Continuar</button>
  </form>
</div>
