<div class="signup row d-flex justify-content-center align-items-center">
  <form class="form col-8 border p-4">
    <h1 class="text-center">Create account</h1>

    <fieldset class="form-group">
      <input
        type="text"
        name="username"
        placeholder="Username"
        class="form-control mt-4"
      />
    </fieldset>

    <fieldset class="form-group">
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form-control mt-1"
      />
    </fieldset>

    <button
      type="submit"
      class="btn btn-primary btn-block mt-3"
      >Register</button>
  </form>
</div>
