<div class="home">

  <header class="header">
    <div class="header__search">
      <input
        type="search"
        placeholder="Search"
        name="textFilter"
        [(ngModel)]="textFilter"
      />

      <button type="button" (click)="filterPosts()">Search</button>
    </div>
    <div class="header__buttons">
      <a routerLink="users/signin">Login</a>
      <a routerLink="users/signup">Register</a>
    </div>
  </header>

  <div class="home__content">
    <app-list-posts [posts]="posts"></app-list-posts>
  </div>
</div>
